*.swp
.codegraph/
.vscode/*
.DS_Store
target
.idea
*.iml
source/python/dist
source/python/build
source/python/LICENSE-APACHE
source/python/LICENSE-MIT
source/python/src/pole_specification/generated
source/python/src/pole_specification/proto
source/python/src/pole_specification.egg-info
source/node/dist
source/node/LICENSE-APACHE
source/node/LICENSE-MIT
source/node/node_modules
source/node/proto
source/node/src/generated
source/node/src/proto-files.json
source/rust/pole-specification/target
venv
debug/
target/
# Maven ignore
.flattened-pom.xml
Cargo.lock
